/** Map Section Grid **/

#mapid,
#mapid2 {
    height: 75vh;
    width: 95%;
    margin: 0 auto;
    z-index: 0;
    border: 1px solid;
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
}

#buttons {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}

#page {
    display: grid;
    width: 100%;
    margin: 35px 0;
    grid-gap: 8px;
    grid-template-areas:
        "nav  buttons"
        "nav  main";
    grid-template-rows: auto 1fr;
    grid-template-columns: 1.2fr 0.8fr;
}

#page > nav {
    grid-area: nav;
}

#mainMapSection {
    display: flex;
    justify-content: center;
    align-items: center;
}

#page > main {
    grid-area: main;
    align-self: center;
    height: 100%;
    padding: 1rem;
    margin: 12px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

#page > footer {
    grid-area: buttons;
    align-self: center;
    height: 100%;
    padding: 12px 8px;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    border-radius: 5px;
}

.wrapper > div {
    border-radius: 5px;
    background-color: #ffd8a8;
    padding: 1em;
    color: #d9480f;
}

.meteo_wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(140px, auto));
    justify-content: center;
    grid-column-gap: 2.35rem;
    grid-row-gap: 1.5rem;
    padding: 60px 30px;
    color: #9f9f9f;
}

.meteo_wrapper > div {
    opacity: 0;
    margin: 1rem 0;
    color: #272727;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-transform: uppercase;
    padding: 20px;
    border-radius: 50%;
    height: 150px;
    width: 150px;
    cursor: pointer;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.meteo_wrapper > div:hover {
}

.meteo_wrapper img {
    width: 80px;
}

.weather_title {
    font-size: 1.15rem;
    font-weight: lighter;
}

.weather_value {
    font-size: 1.5rem;
    font-weight: lighter;
}

.weather_dot {
    font-size: 1.2rem;
}

.weather_celsius {
    font-size: 0.65rem;
}

.article_wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, auto));
    grid-auto-flow: dense;
    grid-column-gap: 20px;
    grid-row-gap: 60px;
    /**grid-auto-rows: minmax(300px, 900px);
    **/
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}

.article_wrapper > div {
    border-radius: 5px;
    background-image: linear-gradient(to bottom, #1c1c1c 65%, #090909 100%);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: fit-content;
    cursor: pointer;
    font-size: 0.85rem;
    transition: opacity 0.25s ease-in-out;
    -webkit-transition: opacity 0.25s ease-in-out;
    -moz-transition: opacity 0.25s ease-in-out;
    -ms-transition: opacity 0.25s ease-in-out;
    -o-transition: opacity 0.25s ease-in-out;
    opacity: 0;
}

.article_wrapper > div:nth-child(1)[data-scroll="in"],
.article_wrapper > div:nth-child(5)[data-scroll="in"],
.article_wrapper > div:nth-child(9)[data-scroll="in"] {
    transition-delay: 0.15s;
    opacity: 1;
}

.article_wrapper > div:nth-child(2)[data-scroll="in"],
.article_wrapper > div:nth-child(6)[data-scroll="in"],
.article_wrapper > div:nth-child(10)[data-scroll="in"] {
    opacity: 1;
    transition-delay: 0.25s;
}

.article_wrapper > div:nth-child(3)[data-scroll="in"],
.article_wrapper > div:nth-child(7)[data-scroll="in"],
.article_wrapper > div:nth-child(11)[data-scroll="in"] {
    opacity: 1;
    transition-delay: 0.25s;
}

.article_wrapper > div:nth-child(4)[data-scroll="in"],
.article_wrapper > div:nth-child(8)[data-scroll="in"],
.article_wrapper > div:nth-child(12)[data-scroll="in"] {
    opacity: 1;
    transition-delay: 0.15s;
}

.article_wrapper > div h5 {
    font-size: 1.15rem;
    line-height: 1.5;
    padding: 0 8px;
    text-transform: capitalize;
    font-weight: lighter;
    width: 100%;
}

.article_wrapper > div p {
    color: #acacac;
    font-weight: 200;
    font-size: 1.025rem;
}

.article_content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px 12px;
}

.article_img_box {
    width: 100%;
}

.article_img {
    min-height: 180px;
    max-height: 280px;
    width: 100%;
    border-radius: 4px 4px 0px 0px;
    -webkit-border-radius: 4px 4px 0px 0px;
    -moz-border-radius: 4px 4px 0px 0px;
    -ms-border-radius: 4px 4px 0px 0px;
    -o-border-radius: 4px 4px 0px 0px;
}

.article_btn {
    width: 100px;
}

.article_footer {
    font-size: 0.9rem;
    color: #666;
    font-weight: lighter;
}

.dashboard_wrapper {
    display: grid;
    min-height: 100vh;
    grid-gap: 20px;
    grid-template-rows: 200px 1fr;
    grid-template-columns: 1fr 1.75fr;
    border: 1px solid pink;
}

.dashboard_wrapper > div {
    border: 1px solid aqua;
}

.form_wrapper {
    display: grid;
    width: 100%;
    padding: 20px 15px;
    height: 88vh;
    grid-gap: 20px;
    grid-template-areas:
        "head head"
        "nav  main"
        "foot  foot";
    grid-template-rows: 60px 1fr 60px;
    grid-template-columns: 1fr 1.5fr;
}

.form_wrapper > .form_wrapper_title {
    grid-area: head;
    padding: 0.75rem;
    align-self: center;
    text-align: center;
    display: flex;
    align-items: center;
    border: 1px solid #48464657;
    border-radius: 0.25rem;
    -webkit-border-radius: 0.25rem;
    -moz-border-radius: 0.25rem;
    -ms-border-radius: 0.25rem;
    -o-border-radius: 0.25rem;
}

.wrapper_btn {
    width: 120px;
    border-radius: 10px 0px 0px 10px;
}

.wrapper_title {
    text-align: center;
    width: calc(100% + 120px);
}

#warningTextEditPost {
    max-width: 400px;
    color: red;
}

.form_wrapper_inputs input,
.form_wrapper_inputs select {
    background: #ffffff1c !important;
}

.form_wrapper > .form_wrapper_inputs {
    grid-area: nav;
    padding: 30px;
    border: 1px solid #48464657;
    border-radius: 0.25rem;
    -webkit-border-radius: 0.25rem;
    -moz-border-radius: 0.25rem;
    -ms-border-radius: 0.25rem;
    -o-border-radius: 0.25rem;
}

.form_wrapper > .form_wrapper_tiny {
    grid-area: main;
    border: 1px solid #48464657;
    padding: 30px;
    border-radius: 0.25rem;
    -webkit-border-radius: 0.25rem;
    -moz-border-radius: 0.25rem;
    -ms-border-radius: 0.25rem;
    -o-border-radius: 0.25rem;
}

.form_wrapper > .form_wrapper_foot {
    grid-area: foot;
    align-self: baseline;
    border-radius: 0.25rem;
    -webkit-border-radius: 0.25rem;
    -moz-border-radius: 0.25rem;
    -ms-border-radius: 0.25rem;
    -o-border-radius: 0.25rem;
    padding: 1rem 0;
}

.form_wrapper_foot .btn {
    width: 25%;
    margin-left: 37.5% !important;
}

/** Post Wrapper Grid **/

#postWrapper {
    display: grid;
    width: 100%;
    padding: 20px 15px;
    grid-gap: 12px;
    grid-template-areas:
        "article  comment"
        "article  info";
    grid-template-rows: 64vh 30vh;
    grid-template-columns: 1.7fr 1fr;
}

#postWrapper > .info-container {
    grid-area: info;
    border-radius: 4px;
}

#postWrapper > .article {
    grid-area: article;
    overflow-y: scroll;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    position: relative;
    margin-top: 8vh;
    width: 90%;
    padding: 25px 0;
}

#postWrapper > .comment {
    grid-area: comment;
    padding: 20px 10px;
    overflow-y: scroll;
    background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(47, 47, 42, 0.5)), url("../images/modal-bg.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    margin-top: 8vh;
    height: 54vh;
}

#menuCircleLink {
    font-size: 2.2rem;
    color: aqua;
    position: absolute;
    padding: 10;
    left: 30px;
    top: 8vh;
    left: 0;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

#articleTitle {
}

#ppAuthorAlign {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.post_title_img_box {
    justify-content: center;
}
